h1 {
  letter-spacing: 5px;
  text-align: center;
}

/*** home ***/

form {
  padding: 15px;
    width: 100%;
}

.submitButton {
  border: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #323223;
  border-radius: 5px;
  margin: 20px auto;
  display: block;
}

#payer {
    background-color: #fff;
}

.checkbox-inline {
    width: 30%;
}

.nextline {
    margin-left: 0px !important;
}

/* nav tabs */
.nav-tabs li {
    width: 50%;
    text-align: center;
    color: #000;
}

.nav-tabs li a {
    color: #000;
    letter-spacing: 3px;
}

.hidePart {
    display: none;
}

.showPart {
    display: flex;
}

/*************/


/*****************************/
#show_section {
  width: 100%;
}

th, td {
  text-align: center;
 
}



/*************************/
/* Slide In
/* https://www.webdesignerdepot.com/2014/04/how-to-create-mobile-style-slide-in-navigation/
/************************/

#navicon {
  margin-right: 0px;
  color: #232323;
  position: fixed !important;
  right: 0;
  padding: 0px 10px;
}

#main-nav a {
  letter-spacing: 5px;
}

html.no-js #fallback-nav { display: block; }
html.no-js .fade { display: none; }
html.no-js #navicon { display: none; }
html.js #fallback-nav { display: none; }

#navicon {
    float: right;
    font-size: 2em;
    text-decoration: none;
    position: relative;
    z-index: 9; }

#navicon.open { color: white; }
#navicon.open:hover { color: #e6e6e6; }
#fade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5; }

#main-nav {
    position: fixed;
    height: 100%;
    top: 0;
    right: -250px;
    background: #222;
    max-width: 250px;
    width: 100%;
    z-index: 5;
    text-align: center;
    display: flex;
    opacity: 0.9;
    flex-direction: column; }

#main-nav a {
    flex: 1;
    color: white;
    border-top: 1px solid #555;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center; }
#main-nav a:hover, #main-nav a.current { background: #3c3c3c; }

/************************/

/* SNACKBAR */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/**** setting CSS ****/
h4 {
  letter-spacing: 5px;
  text-align: center;
}

/********************/


/**** summary CSS ****/
h3 {
    font-size: 1.5em;
    font-weight: normal;
    
}

#summary_table {
    
}


/********************/

@media screen and (min-width: 845px) {
    form {
        width: 80%;
        margin: 25px 10%; 
    }
}
